[workspace]
channels = ["https://prefix.dev/glatzel", "conda-forge"]
platforms = ["win-64", "linux-64", "osx-arm64", "linux-aarch64"]

[dependencies]
rattler-build = "==0.52.0"

[feature.selenium]
platforms = ["win-64", "linux-64", "osx-arm64"]
[feature.selenium.dependencies]
python = "3.11.*"
selenium = "==4.38.0"
toolbox = { version = "==0.0.20", channel = "https://prefix.dev/glatzel" }

[feature.pip.dependencies]
pip = "==25.3"
python = "3.11.*"

[environments]
pip = ["pip"]
selenium = ["selenium"]
