name: CI
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths-ignore:
      - "*.md"
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - ready_for_review
    paths-ignore:
      - "*.md"
  schedule:
    - cron: 0 16 * * *

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref=='refs/heads/main' && github.sha || github.ref}}
  cancel-in-progress: ${{ github.event_name != 'push'}}

permissions:
  contents: write
  id-token: write
  pull-requests: write

jobs:
  changed:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix_json.outputs.matrix }}
    steps:
      - uses: actions/checkout@v5
      - name: matrix_yaml
        run: ./scripts/matrix_yml.ps1
        shell: pwsh

      - id: change
        if: ${{github.event_name == 'pull_request' || github.event_name == 'push'}}
        uses: tj-actions/changed-files@v47
        with:
          json: true
          files_yaml_from_source_file:  ./pkg_matrix.yml
      - name: matrix_json
        env:
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          GITHUB_REF_NAME: ${{github.ref_name}}
        id: matrix_json
        run: ./scripts/matrix_json.ps1
        shell: pwsh

  rattler-build:
    needs: changed
    strategy:
      fail-fast: false
      matrix: ${{(github.event_name == 'pull_request'|| github.event_name == 'push') && fromJSON(needs.changed.outputs.matrix) ||fromJSON(needs.changed.outputs.all)}}

    runs-on: ${{matrix.machine}}
    steps:
      - uses: actions/checkout@v5

      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false

      - name: main
        id: main
        env:
          GH_TOKEN: ${{github.token}}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          GITHUB_REF_NAME: ${{github.ref_name}}

        run: ./packages/${{matrix.pkg}}/ci-${{matrix.pkg}}.ps1
        shell: pwsh

      - name: publish
        if: ${{ steps.main.outputs.action_publish == 'true' }}
        run: |
          ./scripts/publish.ps1 -pkg ${{matrix.pkg}}
        shell: pwsh

      - name: Create pull request
        if: ${{ steps.main.outputs.action_pr == 'true' }}
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ github.token }}
          commit-message: "chore: update `${{matrix.pkg}}` from `${{ steps.main.outputs.current-version}}` to `${{ steps.main.outputs.latest-version}}`"
          title: "chore: update `${{matrix.pkg}}` from `${{ steps.main.outputs.current-version}}` to `${{ steps.main.outputs.latest-version}}`"
          branch: update-${{matrix.pkg}}
          base: main
          delete-branch: true
          assignees: Glatzel
          draft: true
