name: manual build
on:
  workflow_dispatch:
    inputs:
      name:
        description: "Package name"
        type: string
        required: true
      machine:
        description: "machine"
        type: choice
        required: true
        options:
          - windows-latest
          - macos-latest
          - ubuntu-latest
          - ubuntu-24.04-arm

concurrency:
  group: ${{ github.workflow }}-${{ github.ref}}-${{inputs.name}}-${{inputs.machine}}
  cancel-in-progress: true

permissions:
  contents: write
  id-token: write
  pull-requests: write

jobs:
  rattler-build:
    runs-on: ${{inputs.machine}}
    steps:
      - uses: actions/checkout@v6

      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false

      - name: main
        id: main
        env:
          GH_TOKEN: ${{github.token}}
        run: ./packages/${{inputs.name}}/ci-${{inputs.name}}.ps1
        shell: pwsh

      - name: upload
        uses: actions/upload-artifact@v5
        with:
          name: ${{inputs.name}}-${{inputs.machine}}
          path: ./packages/${{inputs.name}}/output

      - name: publish
        if: ${{ steps.main.outputs.update != 'true' && github.event_name != 'pull_request' && github.ref_name=='main'}}
        run: |
          ./scripts/publish.ps1 -pkg ${{inputs.name}}
        shell: pwsh

      - name: Create pull request
        if: ${{ steps.main.outputs.update == 'true' && github.event_name != 'pull_request' && !cancelled()}}
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ github.token }}
          commit-message: "chore: update `${{inputs.name}}` from `${{ steps.main.outputs.current-version}}` to `${{ steps.main.outputs.latest-version}}`"
          title: "chore: update `${{inputs.name}}` from `${{ steps.main.outputs.current-version}}` to `${{ steps.main.outputs.latest-version}}`"
          branch: update-${{inputs.name}}
          base: main
          delete-branch: true
          assignees: Glatzel
          draft: true
