name: manual-build
on:
  workflow_dispatch:
    inputs:
      name:
        description: "Package name"
        type: string
        required: true
      machine:
        description: "machine"
        type: choice
        required: true
        options:
          - windows-latest
          - macos-latest
          - ubuntu-latest
          - ubuntu-24.04-arm
      debug_on_fail:
        type: boolean
        description: "Run the build with tmate debugging enabled"
        required: false
        default: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref}}-${{inputs.name}}-${{inputs.machine}}
  cancel-in-progress: true

permissions:
  contents: write
  id-token: write
  pull-requests: write
env:
  WORKFLOW_NAME: ${{ github.workflow }}
jobs:
  rattler-build:
    runs-on: ${{inputs.machine}}
    steps:
      - uses: actions/checkout@v6

      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false

      - name: main
        id: main
        env:
          GH_TOKEN: ${{github.token}}
        run: ./packages/${{inputs.name}}/ci-${{inputs.name}}.ps1
        shell: pwsh

      - name: upload
        uses: actions/upload-artifact@v6
        with:
          name: ${{inputs.name}}-${{inputs.machine}}
          path: ./output

      - name: Debug with tmate
        if: ${{failure()&& inputs.debug_on_fail}}
        uses: mxschmitt/action-tmate@v3
